RERANKER_API_BASE=
RERANKER_API_KEY=
RERANKER_MODEL=
EMBEDDING_API_BASE=
EMBEDDING_API_KEY=
EMBEDDING_MODEL=
MULTIMODAL_EMBEDDING_API_BASE=
MULTIMODAL_EMBEDDING_API_KEY=
MULTIMODAL_EMBEDDING_MODEL=
CHAT_RERANKER_API_BASE=
CHAT_RERANKER_API_KEY=
CHAT_RERANKER_MODEL=
